In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from supervised.automl import AutoML # mljar-supervised
from sklearn.preprocessing import LabelEncoder, PolynomialFeatures

C:\Users\hist\miniconda3\envs\mljar\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
train = pd.read_csv('./data.csv')

In [3]:
train.head()

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8

In [4]:
train.isna().sum()

id                         0
author                  5024
geometry                5500
pressure [MPa]          4452
mass_flux [kg/m2-s]     4791
x_e_out [-]            10415
D_e [mm]                5488
D_h [mm]                4589
length [mm]             4759
chf_exp [MW/m2]            0
dtype: int64

In [5]:
train.loc[train['author']=='Thompson', 'geometry'] = 'tube'
train.loc[train['author']=='Beus', 'geometry'] = 'annulus'
train.loc[train['author']=='Peskov', 'geometry'] = 'tube'
train.loc[train['author']=='Janssen', 'geometry'] = 'annulus'
train.loc[train['author']=='Weatherhead', 'geometry'] = 'tube'
train.loc[train['author']=='Inasaka', 'geometry'] = 'tube'
train.loc[train['author']=='Williams', 'geometry'] = 'tube'
train.loc[train['author']=='Mortimore', 'geometry'] = 'annulus'
train.loc[train['author']=='Richenderfer', 'geometry'] = 'plate'
train.loc[train['author']=='Kossolapov', 'geometry'] = 'plate'

In [6]:
train.loc[train['geometry'].isna()]

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
5,5,NaN,NaN,17.24,3648.0,-0.0711,NaN,1.9,696.0,3.6
72,72,NaN,NaN,13.79,NaN,0.0656,4.7,NaN,318.0,1.9
73,73,NaN,NaN,NaN,3608.0,0.1261,4.7,4.7,318.0,2.7
80,80,NaN,NaN,6.89,2278.0,0.1946,8.5,22.3,2743.0,2.0
121,121,NaN,NaN,NaN,4986.0,-0.0297,3.0,NaN,400.0,5.5
...,...,...,...,...,...,...,...,...,...,...
31456,31456,NaN,NaN,13.79,1356.0,-0.0135,5.6,5.6,2134.0,1.6
31459,31459,NaN,NaN,13.79,2007.0,-0.1568,NaN,7.7,457.0,4.6
31514,31514,NaN,NaN,11.03,4069.0,0.0498,11.5,11.5,1727.0,2.7
31636,31636,NaN,NaN,12.07,NaN,-0.0195,NaN,1.9,152.0,5.4
31640,31640,NaN,NaN,13.79,NaN,NaN,4.7,4.7,NaN,3.9

In [7]:
train.loc[(train['D_e [mm]'].isna()) & (~train['D_h [mm]'].isna()), 'D_e [mm]'] = train.loc[(train['D_e [mm]'].isna()) & (~train['D_h [mm]'].isna()), 'D_h [mm]']
train.loc[(train['D_h [mm]'].isna()) & (~train['D_e [mm]'].isna()), 'D_h [mm]'] = train.loc[(train['D_h [mm]'].isna()) & (~train['D_e [mm]'].isna()), 'D_e [mm]']

In [8]:
def dummy(row):
    if row['author'] != row['author']:
        g, p = row[['geometry', 'pressure [MPa]']]
        tmp = train[(train['geometry'] == g) & (train['pressure [MPa]'] == p) & (~train['author'].isna())]['author']
        if g == g and p == p and len(tmp) > 0:
            return tmp.mode()[0]
    return row['author']

train['author'] = train.apply(dummy, axis=1)

In [9]:
train['pressure [MPa]'] = train['pressure [MPa]'].fillna(train['pressure [MPa]'].mean())

In [10]:
train[['author', 'geometry']] = train[['author', 'geometry']].fillna('Unknown')

In [11]:
def dummy(row):
    if row['mass_flux [kg/m2-s]'] != row['mass_flux [kg/m2-s]']:
        a, g = row[['author', 'geometry']]
        tmp = train[(train['author'] == a) & (train['geometry'] == g) & (~train['mass_flux [kg/m2-s]'].isna())]['mass_flux [kg/m2-s]']
        if len(tmp) > 0:
            return tmp.mean()
    return row['mass_flux [kg/m2-s]']

train['mass_flux [kg/m2-s]'] = train.apply(dummy, axis=1)

In [12]:
def dummy(row):
    if row['length [mm]'] != row['length [mm]']:
        a, g = row[['author', 'geometry']]
        tmp = train[(train['author'] == a) & (train['geometry'] == g) & (~train['length [mm]'].isna())]['length [mm]']
        if len() > 0:
            return tmp.mean()
    return row['length [mm]']

train['length [mm]'] = train.apply(dummy, axis=1)

In [13]:
def dummy(row):
    if row['D_e [mm]'] != row['D_e [mm]']:
        a, g = row[['author', 'geometry']]
        tmp = train[(train['author'] == a) & (train['geometry'] == g) & (~train['length [mm]'].isna())]['D_e [mm]']
        if len(tmp) > 0:
            return tmp.mean(), tmp.mean()
    return row[['D_e [mm]', 'D_h [mm]']]

train[['D_e [mm]', 'D_h [mm]']] = train.apply(dummy, axis=1)

In [14]:
train.isna().sum()

id                         0
author                     0
geometry                   0
pressure [MPa]             0
mass_flux [kg/m2-s]        0
x_e_out [-]            10415
D_e [mm]                   0
D_h [mm]                   0
length [mm]                0
chf_exp [MW/m2]            0
dtype: int64

In [15]:
test = train[train['x_e_out [-]'].isna()].drop(['x_e_out [-]'], axis=1).reset_index(drop=True)
train = train[~train['x_e_out [-]'].isna()].reset_index(drop=True)

In [16]:
train

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.000000,3770.000000,0.1754,10.8,10.8,432.0,3.6
1,1,Thompson,tube,10.640747,6049.000000,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,tube,13.790000,2034.000000,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.790000,3679.000000,-0.0279,5.6,15.2,2134.0,3.0
4,5,Unknown,Unknown,17.240000,3648.000000,-0.0711,1.9,1.9,696.0,3.6
...,...,...,...,...,...,...,...,...,...,...
21224,31636,Unknown,Unknown,12.070000,3152.921596,-0.0195,1.9,1.9,152.0,5.4
21225,31638,Thompson,tube,10.640747,3648.000000,-0.0487,4.7,4.7,318.0,9.0
21226,31639,Thompson,tube,10.640747,1736.000000,0.0886,7.8,7.8,591.0,2.3
21227,31641,Thompson,tube,18.270000,658.000000,-0.1224,3.0,3.0,150.0,2.3
21228,31643,Thompson,tube,6.890000,7568.000000,0.0603,12.8,12.8,1930.0,3.3

In [17]:
test

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,4,Thompson,tube,13.790000,686.000000,11.1,11.1,457.000000,2.8
1,7,Peskov,tube,18.000000,750.000000,10.0,10.0,1650.000000,2.2
2,10,Thompson,tube,10.640747,3452.251435,1.9,1.9,152.000000,3.2
3,12,Thompson,tube,6.890000,7500.000000,12.8,12.8,1930.000000,4.8
4,23,Beus,annulus,15.510000,1355.000000,5.6,15.2,2134.000000,2.1
...,...,...,...,...,...,...,...,...,...
10410,31633,Thompson,tube,11.030000,3452.251435,11.5,11.5,610.916672,2.0
10411,31634,Richenderfer,plate,1.010000,2000.000000,15.0,120.0,10.000000,6.2
10412,31637,Weatherhead,tube,13.790000,688.000000,11.1,11.1,457.000000,2.3
10413,31640,Unknown,Unknown,13.790000,3152.921596,4.7,4.7,845.315934,3.9
10414,31642,Thompson,tube,6.890000,3825.000000,23.6,23.6,1972.000000,3.7

In [18]:
ordinal_features = ['author', 'geometry']

for feature in ordinal_features:
    le = LabelEncoder()
    le = le.fit(train[feature])
    train[feature] = le.transform(train[feature])

    # train데이터에서 존재하지 않았던 값이 test 데이터에 존재할 수도 있습니다.
    # 따라서 test 데이터를 바로 변형시키지 않고 고윳값을 확인후 test 데이터를 변환합니다.
    for label in np.unique(test[feature]):
        if label not in le.classes_:
            le.classes_ = np.append(le.classes_, label)
    test[feature] = le.transform(test[feature])

In [19]:
train

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,7,3,7.000000,3770.000000,0.1754,10.8,10.8,432.0,3.6
1,1,7,3,10.640747,6049.000000,-0.0416,10.3,10.3,762.0,6.2
2,2,7,3,13.790000,2034.000000,0.0335,7.7,7.7,457.0,2.5
3,3,0,1,13.790000,3679.000000,-0.0279,5.6,15.2,2134.0,3.0
4,5,8,0,17.240000,3648.000000,-0.0711,1.9,1.9,696.0,3.6
...,...,...,...,...,...,...,...,...,...,...
21224,31636,8,0,12.070000,3152.921596,-0.0195,1.9,1.9,152.0,5.4
21225,31638,7,3,10.640747,3648.000000,-0.0487,4.7,4.7,318.0,9.0
21226,31639,7,3,10.640747,1736.000000,0.0886,7.8,7.8,591.0,2.3
21227,31641,7,3,18.270000,658.000000,-0.1224,3.0,3.0,150.0,2.3
21228,31643,7,3,6.890000,7568.000000,0.0603,12.8,12.8,1930.0,3.3

In [20]:
test

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,4,7,3,13.790000,686.000000,11.1,11.1,457.000000,2.8
1,7,5,3,18.000000,750.000000,10.0,10.0,1650.000000,2.2
2,10,7,3,10.640747,3452.251435,1.9,1.9,152.000000,3.2
3,12,7,3,6.890000,7500.000000,12.8,12.8,1930.000000,4.8
4,23,0,1,15.510000,1355.000000,5.6,15.2,2134.000000,2.1
...,...,...,...,...,...,...,...,...,...
10410,31633,7,3,11.030000,3452.251435,11.5,11.5,610.916672,2.0
10411,31634,6,2,1.010000,2000.000000,15.0,120.0,10.000000,6.2
10412,31637,9,3,13.790000,688.000000,11.1,11.1,457.000000,2.3
10413,31640,8,0,13.790000,3152.921596,4.7,4.7,845.315934,3.9
10414,31642,7,3,6.890000,3825.000000,23.6,23.6,1972.000000,3.7

In [21]:
train.describe()

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000,21229.000000
mean,15836.304348,6.223562,2.560036,10.635865,3068.304983,-0.000453,9.496185,13.394819,832.270517,3.809129
std,9143.412737,2.369954,0.864276,4.016657,1661.547159,0.100911,9.524184,18.589655,648.436830,1.988009
min,0.000000,0.000000,0.000000,0.100000,0.000000,-0.866700,1.000000,1.000000,10.000000,0.800000
25%,7896.000000,7.000000,3.000000,6.890000,1558.570439,-0.046600,5.000000,5.600000,432.000000,2.400000
50%,15861.000000,7.000000,3.000000,10.640747,2862.000000,0.003800,8.238353,10.000000,610.916672,3.400000
75%,23751.000000,7.000000,3.000000,13.790000,4028.000000,0.064800,10.800000,11.300000,914.000000,4.700000
max,31643.000000,10.000000,3.000000,20.680000,7975.000000,0.232000,120.000000,120.000000,3048.000000,19.300000

In [22]:
# train models with AutoML
automl = AutoML(mode="Compete",
                ml_task='regression',
                # optuna_time_budget=1200,
                # total_time_limit=24*3600,
                eval_metric='rmse',
                random_state=726,
                total_time_limit=3600*1,
                n_jobs=-1)
automl.fit(train[test.columns], train['x_e_out [-]'])

Linear algorithm was disabled.
AutoML directory: AutoML_1
The task is regression with evaluation metric rmse
AutoML will use algorithms: ['Decision Tree', 'Random Forest', 'Extra Trees', 'LightGBM', 'Xgboost', 'CatBoost', 'Neural Network', 'Nearest Neighbors']
AutoML will stack models
AutoML will ensemble available models
AutoML steps: ['adjust_validation', 'simple_algorithms', 'default_algorithms', 'not_so_random', 'golden_features', 'kmeans_features', 'insert_random_feature', 'features_selection', 'hill_climbing_1', 'hill_climbing_2', 'boost_on_errors', 'ensemble', 'stack', 'ensemble_stacked']
* Step adjust_validation will try to check up to 1 model
1_DecisionTree rmse 0.085318 trained in 0.21 seconds
Adjust validation. Remove: 1_DecisionTree
Validation strategy: 10-fold CV Shuffle
* Step simple_algorithms will try to check up to 3 models
1_DecisionTree rmse 0.083583 trained in 1.36 seconds
2_DecisionTree rmse 0.083583 trained in 1.27 seconds
3_DecisionTree rmse 0.086059 trained in 1.29 seconds
* Step default_algorithms will try to check up to 7 models
4_Default_LightGBM rmse 0.07413 trained in 3.17 seconds
5_Default_Xgboost rmse 0.07457 trained in 3.45 seconds
6_Default_CatBoost rmse 0.074454 trained in 9.34 seconds
7_Default_NeuralNetwork rmse 0.080029 trained in 12.12 seconds
8_Default_RandomForest rmse 0.080433 trained in 8.33 seconds
9_Default_ExtraTrees rmse 0.08475 trained in 6.57 seconds
There was an error during 10_Default_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
* Step not_so_random will try to check up to 63 models
19_LightGBM rmse 0.074052 trained in 3.65 seconds
10_Xgboost rmse 0.073668 trained in 4.36 seconds
28_CatBoost rmse 0.074356 trained in 17.41 seconds
37_RandomForest rmse 0.075659 trained in 11.72 seconds
46_ExtraTrees rmse 0.082149 trained in 8.53 seconds
55_NeuralNetwork rmse 0.084637 trained in 11.24 seconds
There was an error during 64_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
20_LightGBM rmse 0.073713 trained in 4.69 seconds
11_Xgboost rmse 0.074094 trained in 4.66 seconds
29_CatBoost rmse 0.075544 trained in 11.44 seconds
38_RandomForest rmse 0.078529 trained in 11.25 seconds
47_ExtraTrees rmse 0.085499 trained in 7.97 seconds
56_NeuralNetwork rmse 0.079887 trained in 15.92 seconds
There was an error during 65_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
21_LightGBM rmse 0.074169 trained in 5.35 seconds
12_Xgboost rmse 0.073685 trained in 6.22 seconds
30_CatBoost rmse 0.075532 trained in 41.13 seconds
39_RandomForest rmse 0.082668 trained in 9.65 seconds
48_ExtraTrees rmse 0.089436 trained in 11.49 seconds
57_NeuralNetwork rmse 0.094818 trained in 10.46 seconds
There was an error during 66_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
22_LightGBM rmse 0.073952 trained in 4.48 seconds
13_Xgboost rmse 0.073994 trained in 5.75 seconds
31_CatBoost rmse 0.075474 trained in 25.43 seconds
40_RandomForest rmse 0.077309 trained in 12.39 seconds
49_ExtraTrees rmse 0.081284 trained in 9.7 seconds
58_NeuralNetwork rmse 0.084639 trained in 11.6 seconds
There was an error during 67_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
23_LightGBM rmse 0.074058 trained in 6.25 seconds
14_Xgboost rmse 0.073937 trained in 7.52 seconds
32_CatBoost rmse 0.075542 trained in 40.06 seconds
41_RandomForest rmse 0.078571 trained in 16.72 seconds
50_ExtraTrees rmse 0.08448 trained in 12.77 seconds
59_NeuralNetwork rmse 0.080143 trained in 26.6 seconds
There was an error during 68_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
24_LightGBM rmse 0.07413 trained in 5.63 seconds
15_Xgboost rmse 0.074113 trained in 6.37 seconds
33_CatBoost rmse 0.074409 trained in 10.38 seconds
42_RandomForest rmse 0.082453 trained in 9.54 seconds
51_ExtraTrees rmse 0.087409 trained in 9.46 seconds
60_NeuralNetwork rmse 0.086626 trained in 14.64 seconds
There was an error during 69_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
25_LightGBM rmse 0.074277 trained in 7.52 seconds
16_Xgboost rmse 0.073775 trained in 6.64 seconds
34_CatBoost rmse 0.075768 trained in 13.28 seconds
43_RandomForest rmse 0.07596 trained in 14.32 seconds
52_ExtraTrees rmse 0.080664 trained in 15.18 seconds
61_NeuralNetwork rmse 0.079424 trained in 28.66 seconds
There was an error during 70_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
26_LightGBM rmse 0.074354 trained in 6.67 seconds
17_Xgboost rmse 0.074383 trained in 7.06 seconds
35_CatBoost rmse 0.075782 trained in 13.29 seconds
44_RandomForest rmse 0.080601 trained in 14.3 seconds
53_ExtraTrees rmse 0.085344 trained in 11.44 seconds
62_NeuralNetwork rmse 0.079307 trained in 32.96 seconds
There was an error during 71_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
27_LightGBM rmse 0.074047 trained in 7.75 seconds
18_Xgboost rmse 0.074372 trained in 8.2 seconds
36_CatBoost rmse 0.074479 trained in 15.37 seconds
45_RandomForest rmse 0.080438 trained in 12.6 seconds
54_ExtraTrees rmse 0.086948 trained in 11.35 seconds
63_NeuralNetwork rmse 0.079447 trained in 19.0 seconds
There was an error during 72_NearestNeighbors training.
Please check AutoML_1\errors.md for details.
* Step golden_features will try to check up to 3 models
None 10
Add Golden Feature: chf_exp [MW/m2]_multiply_pressure [MPa]
Add Golden Feature: chf_exp [MW/m2]_ratio_length [mm]
Add Golden Feature: length [mm]_ratio_chf_exp [MW/m2]
Add Golden Feature: chf_exp [MW/m2]_sum_pressure [MPa]
Add Golden Feature: length [mm]_diff_chf_exp [MW/m2]
Add Golden Feature: chf_exp [MW/m2]_sum_geometry
Add Golden Feature: chf_exp [MW/m2]_ratio_D_h [mm]
Add Golden Feature: D_h [mm]_ratio_chf_exp [MW/m2]
Add Golden Feature: chf_exp [MW/m2]_multiply_geometry
Add Golden Feature: D_e [mm]_ratio_chf_exp [MW/m2]
Created 10 Golden Features in 5.68 seconds.
10_Xgboost_GoldenFeatures rmse 0.074092 trained in 15.44 seconds
12_Xgboost_GoldenFeatures rmse 0.074015 trained in 10.17 seconds
20_LightGBM_GoldenFeatures rmse 0.074029 trained in 9.02 seconds
* Step kmeans_features will try to check up to 3 models
10_Xgboost_KMeansFeatures rmse 0.074197 trained in 10.7 seconds
12_Xgboost_KMeansFeatures rmse 0.074236 trained in 11.9 seconds
20_LightGBM_KMeansFeatures rmse 0.074321 trained in 10.47 seconds
* Step insert_random_feature will try to check up to 1 model
10_Xgboost_RandomFeature rmse 0.07397 trained in 11.05 seconds
Drop features ['id', 'random_feature']
* Step features_selection will try to check up to 6 models
10_Xgboost_SelectedFeatures rmse 0.073375 trained in 9.9 seconds
20_LightGBM_SelectedFeatures rmse 0.073368 trained in 9.18 seconds
28_CatBoost_SelectedFeatures rmse 0.074041 trained in 22.96 seconds
37_RandomForest_SelectedFeatures rmse 0.075441 trained in 17.07 seconds
62_NeuralNetwork_SelectedFeatures rmse 0.078779 trained in 35.51 seconds
52_ExtraTrees_SelectedFeatures rmse 0.080732 trained in 14.46 seconds
* Step hill_climbing_1 will try to check up to 35 models
64_LightGBM_SelectedFeatures rmse 0.073368 trained in 9.72 seconds
65_LightGBM_SelectedFeatures rmse 0.073368 trained in 9.75 seconds
66_Xgboost_SelectedFeatures rmse 0.07338 trained in 10.61 seconds
67_Xgboost_SelectedFeatures rmse 0.073365 trained in 10.77 seconds
68_Xgboost rmse 0.073727 trained in 10.52 seconds
69_Xgboost rmse 0.073673 trained in 10.74 seconds
70_Xgboost rmse 0.073647 trained in 11.53 seconds
71_Xgboost rmse 0.073624 trained in 11.52 seconds
72_LightGBM rmse 0.073713 trained in 10.38 seconds
73_LightGBM rmse 0.073713 trained in 10.65 seconds
74_LightGBM rmse 0.073952 trained in 9.79 seconds
75_LightGBM rmse 0.073952 trained in 9.68 seconds
76_CatBoost_SelectedFeatures rmse 0.074149 trained in 23.44 seconds
77_CatBoost_SelectedFeatures rmse 0.073977 trained in 27.18 seconds
78_CatBoost rmse 0.074304 trained in 24.31 seconds
79_CatBoost rmse 0.074362 trained in 24.51 seconds
80_CatBoost rmse 0.074677 trained in 14.0 seconds
81_CatBoost rmse 0.074466 trained in 15.19 seconds
82_RandomForest_SelectedFeatures rmse 0.075441 trained in 19.07 seconds
83_RandomForest_SelectedFeatures rmse 0.075605 trained in 18.13 seconds
84_RandomForest rmse 0.075569 trained in 20.56 seconds
85_RandomForest rmse 0.075766 trained in 20.93 seconds
86_RandomForest rmse 0.075755 trained in 20.93 seconds
87_RandomForest rmse 0.076132 trained in 20.8 seconds
88_NeuralNetwork_SelectedFeatures rmse 0.079029 trained in 21.05 seconds
89_NeuralNetwork rmse 0.079255 trained in 20.39 seconds
90_NeuralNetwork rmse 0.079234 trained in 26.26 seconds
91_ExtraTrees rmse 0.081252 trained in 17.63 seconds
92_ExtraTrees rmse 0.080194 trained in 17.99 seconds
93_ExtraTrees_SelectedFeatures rmse 0.08177 trained in 15.32 seconds
94_ExtraTrees_SelectedFeatures rmse 0.079902 trained in 17.17 seconds
95_ExtraTrees rmse 0.081996 trained in 18.28 seconds
96_DecisionTree rmse 0.086059 trained in 10.64 seconds
97_DecisionTree rmse 0.081646 trained in 10.82 seconds
98_DecisionTree rmse 0.081646 trained in 10.95 seconds
* Step hill_climbing_2 will try to check up to 18 models
99_Xgboost_SelectedFeatures rmse 0.073295 trained in 14.72 seconds
100_Xgboost_SelectedFeatures rmse 0.073306 trained in 13.15 seconds
101_LightGBM_SelectedFeatures rmse 0.073548 trained in 13.25 seconds
102_LightGBM_SelectedFeatures rmse 0.073286 trained in 13.43 seconds
103_LightGBM_SelectedFeatures rmse 0.073548 trained in 13.43 seconds
104_LightGBM_SelectedFeatures rmse 0.073286 trained in 13.63 seconds
105_LightGBM_SelectedFeatures rmse 0.073548 trained in 13.69 seconds
106_LightGBM_SelectedFeatures rmse 0.073286 trained in 13.82 seconds
107_Xgboost_SelectedFeatures rmse 0.073324 trained in 15.16 seconds
108_Xgboost_SelectedFeatures rmse 0.073408 trained in 13.84 seconds
109_Xgboost_SelectedFeatures rmse 0.073302 trained in 15.18 seconds
110_Xgboost_SelectedFeatures rmse 0.073403 trained in 14.02 seconds
111_CatBoost_SelectedFeatures rmse 0.07396 trained in 31.48 seconds
112_CatBoost_SelectedFeatures rmse 0.07417 trained in 29.88 seconds
113_NeuralNetwork_SelectedFeatures rmse 0.078876 trained in 26.47 seconds
114_NeuralNetwork_SelectedFeatures rmse 0.07936 trained in 24.1 seconds
115_ExtraTrees_SelectedFeatures rmse 0.079491 trained in 19.43 seconds
116_ExtraTrees rmse 0.079583 trained in 19.16 seconds
* Step boost_on_errors will try to check up to 1 model
102_LightGBM_SelectedFeatures_BoostOnErrors rmse 0.073447 trained in 14.58 seconds
* Step ensemble will try to check up to 1 model
Ensemble rmse 0.073132 trained in 23.11 seconds
* Step stack will try to check up to 59 models
102_LightGBM_SelectedFeatures_Stacked rmse 0.073575 trained in 15.59 seconds
99_Xgboost_SelectedFeatures_Stacked rmse 0.073392 trained in 18.1 seconds
111_CatBoost_SelectedFeatures_Stacked rmse 0.073034 trained in 45.83 seconds
37_RandomForest_SelectedFeatures_Stacked rmse 0.073251 trained in 57.06 seconds
62_NeuralNetwork_SelectedFeatures_Stacked rmse 0.073649 trained in 45.76 seconds
115_ExtraTrees_SelectedFeatures_Stacked rmse 0.073014 trained in 34.98 seconds
104_LightGBM_SelectedFeatures_Stacked rmse 0.073575 trained in 16.71 seconds
109_Xgboost_SelectedFeatures_Stacked rmse 0.073444 trained in 19.28 seconds
77_CatBoost_SelectedFeatures_Stacked rmse 0.073116 trained in 31.25 seconds
82_RandomForest_SelectedFeatures_Stacked rmse 0.073269 trained in 60.63 seconds
113_NeuralNetwork_SelectedFeatures_Stacked rmse 0.073717 trained in 31.7 seconds
116_ExtraTrees_Stacked rmse 0.073079 trained in 31.26 seconds
106_LightGBM_SelectedFeatures_Stacked rmse 0.073575 trained in 16.76 seconds
100_Xgboost_SelectedFeatures_Stacked rmse 0.073561 trained in 17.72 seconds
28_CatBoost_SelectedFeatures_Stacked rmse 0.073111 trained in 24.63 seconds
84_RandomForest_Stacked rmse 0.073311 trained in 59.79 seconds
88_NeuralNetwork_SelectedFeatures_Stacked rmse 0.07396 trained in 34.42 seconds
94_ExtraTrees_SelectedFeatures_Stacked rmse 0.073117 trained in 34.88 seconds
20_LightGBM_SelectedFeatures_Stacked rmse 0.073538 trained in 16.57 seconds
107_Xgboost_SelectedFeatures_Stacked rmse 0.073401 trained in 19.91 seconds
76_CatBoost_SelectedFeatures_Stacked rmse 0.073063 trained in 22.58 seconds
83_RandomForest_SelectedFeatures_Stacked rmse 0.073224 trained in 71.14 seconds
90_NeuralNetwork_Stacked rmse 0.073773 trained in 33.19 seconds
92_ExtraTrees_Stacked rmse 0.073131 trained in 32.36 seconds
65_LightGBM_SelectedFeatures_Stacked rmse 0.073538 trained in 16.98 seconds
67_Xgboost_SelectedFeatures_Stacked rmse 0.073475 trained in 19.28 seconds
112_CatBoost_SelectedFeatures_Stacked rmse 0.073083 trained in 21.7 seconds
37_RandomForest_Stacked rmse 0.073238 trained in 67.29 seconds
89_NeuralNetwork_Stacked rmse 0.073608 trained in 33.88 seconds
52_ExtraTrees_Stacked rmse 0.073041 trained in 31.37 seconds
64_LightGBM_SelectedFeatures_Stacked rmse 0.073538 trained in 17.47 seconds
10_Xgboost_SelectedFeatures_Stacked rmse 0.073436 trained in 19.92 seconds
78_CatBoost_Stacked rmse 0.073131 trained in 23.6 seconds
86_RandomForest_Stacked rmse 0.073344 trained in 71.81 seconds
62_NeuralNetwork_Stacked rmse 0.073805 trained in 43.34 seconds
52_ExtraTrees_SelectedFeatures_Stacked rmse 0.0731 trained in 31.72 seconds
101_LightGBM_SelectedFeatures_Stacked rmse 0.073339 trained in 18.21 seconds
66_Xgboost_SelectedFeatures_Stacked rmse 0.073635 trained in 20.39 seconds
28_CatBoost_Stacked rmse 0.073106 trained in 26.59 seconds
85_RandomForest_Stacked rmse 0.073312 trained in 67.97 seconds
114_NeuralNetwork_SelectedFeatures_Stacked rmse 0.073693 trained in 38.65 seconds
91_ExtraTrees_Stacked rmse 0.073037 trained in 34.69 seconds
105_LightGBM_SelectedFeatures_Stacked rmse 0.073339 trained in 18.55 seconds
110_Xgboost_SelectedFeatures_Stacked rmse 0.073639 trained in 20.39 seconds
79_CatBoost_Stacked rmse 0.07315 trained in 33.04 seconds
43_RandomForest_Stacked rmse 0.073359 trained in 78.74 seconds
61_NeuralNetwork_Stacked rmse 0.074026 trained in 45.62 seconds
49_ExtraTrees_Stacked rmse 0.073026 trained in 31.33 seconds
103_LightGBM_SelectedFeatures_Stacked rmse 0.073339 trained in 19.42 seconds
108_Xgboost_SelectedFeatures_Stacked rmse 0.073596 trained in 21.44 seconds
33_CatBoost_Stacked not trained. Stop training after the first fold. Time needed to train on the first fold 0.0 seconds. The time estimate for training on all folds is larger than total_time_limit.
* Step ensemble_stacked will try to check up to 1 model
Ensemble_Stacked rmse 0.072866 trained in 45.75 seconds
AutoML fit time: 3708.2 seconds
AutoML best model: Ensemble_Stacked

AutoML(eval_metric='rmse', ml_task='regression', mode='Compete',
       random_state=726)

In [23]:
predictions = automl.predict(test)

In [24]:
sub = pd.read_csv('./sample_submission.csv')
sub['x_e_out [-]'] = predictions
sub.to_csv('mljar_sub.csv', index=False)
sub

          id  x_e_out [-]
0          4     0.000624
1          7    -0.087989
2         10    -0.050075
3         12     0.007324
4         23     0.045641
...      ...          ...
10410  31633     0.071996
10411  31634    -0.048425
10412  31637     0.031339
10413  31640    -0.068329
10414  31642    -0.010061

[10415 rows x 2 columns]